<section class="section profile">
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
            <div class="card-body pt-4 d-flex flex-column align-items-center">
                <img id="video" src="{{ url_for('static', filename='assets/img/user.png') }}"  style=" width: 350px; height: 350px; object-fit: cover;">
            </div>
            <div class="card" style="float: right;">
                <div class="card-body" style="    padding: 10px;text-align:center;">
                    <button type="button" class="btn btn-primary" onclick="startVideo()">Bắt đầu</button>
                    <button type="button" class="btn btn-danger" onclick="stopVideo()">Dừng</button>
                </div>
                <script>
                    function stopVideo() {
                        $("#video").attr("src", "{{ url_for('static', filename='assets/img/user.png') }}");
                    }
                    function startVideo() {
                        $("#video").attr("src", "{{ url_for('video_feed') }}");
                    }
                  </script>
            </div>
        </div>

      </div>

      <div class="col-xl-8">
        <div class="card">
            
          <div class="card-body pt-3">
            <div class="tab-content pt-2">
                
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">Thông tin chi tiết</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Họ tên</div>
                  <div class="col-lg-9 col-md-8">{{ sinhvien[1] }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Mã số sinh viên</div>
                  <div class="col-lg-9 col-md-8">{{ sinhvien[0] }}</div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-4 label">Lớp</div>
                    <div class="col-lg-9 col-md-8">{{ sinhvien[6] }} - {{ sinhvien[10] }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ sinhvien[4] }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Điện thoại</div>
                  <div class="col-lg-9 col-md-8">{{ sinhvien[5] }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Địa chỉ</div>
                  <div class="col-lg-9 col-md-8">{{ sinhvien[3] }}</div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <style>
    .card {
        margin-bottom: 30px;
        border: none;
        border-radius: 5px;
        box-shadow: unset;
    }
  </style>