<section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="{{ url_for('static', filename='assets/img/user.png') }}" alt="Profile" class="rounded-circle">
            <h2>{{ cb.cb_hoten }}</h2>
            <h3>
              {% if cb.cb_quyentruycap != 2 %}
                Giảng viên
              {% else %}
                Quản trị viên
              {% endif %}
            </h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Tổng quan</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Chỉnh sửa</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Cấu hình</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Đổi mật khẩu</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">  
                <h5 class="card-title">Thông tin chi tiết</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label text-label">Mã số cán bộ :</div>
                  <div class="col-lg-9 col-md-8">{{ cb.cb_maso }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label text-label">Họ và Tên : </div>
                  <div class="col-lg-9 col-md-8">{{ cb.cb_hoten }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label text-label">Ngày sinh : </div>
                  <div class="col-lg-9 col-md-8">{{ cb.cb_ngaysinh }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label text-label">Địa chỉ : </div>
                  <div class="col-lg-9 col-md-8">{{ cb.cb_diachi }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label text-label">Email : </div>
                  <div class="col-lg-9 col-md-8">cb.cb_email</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label text-label">Số điện thoại : </div>
                  <div class="col-lg-9 col-md-8">{{ cb.cb_email }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label text-label">Vai trò : </div>
                  <div class="col-lg-9 col-md-8">
                    {% if cb.cb_quyentruycap == 1 %}
                      Giảng viên
                    {% else %}
                      Quản trị viên
                    {% endif %}</div>
                </div>

              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <form>

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Họ tên</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="fullName" type="text" class="form-control" id="fullName" value="{{ cb.cb_hoten }}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="about" class="col-md-4 col-lg-3 col-form-label">Ngày sinh</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="company" type="date" class="form-control" id="company" value="{{ cb.cb_ngaysinh }}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="company" class="col-md-4 col-lg-3 col-form-label">Địa chỉ</label>
                    <div class="col-md-8 col-lg-9">
                      <textarea name="about" class="form-control" id="about" style="height: 100px">{{ cb.cb_diachi }}</textarea>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Số điện thoại</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="job" type="text" class="form-control" id="Job" value="{{ cb.cb_dienthoai }}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Country" class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="country" type="text" class="form-control" id="Country" value="{{ cb.cb_email }}">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                  </div>
                </form><!-- End Profile Edit Form -->

              </div>

              <div class="tab-pane fade pt-3" id="profile-settings">

                <!-- CauHinh Form -->
                <form id="cauhinh-form" class="row g-3 needs-validation" >
                  <input name="chid" type="number" class="form-control" id="chid" value="{{ cauhinh.ch_id }}" style="display:none">
                  <input name="cbid" type="number" class="form-control" id="cbid" value="{{ cb.cb_id }}" style="display:none">

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-4 col-form-label">Giờ vào </label>
                    <div class="col-md-8 col-lg-8">
                      <input name="time-in" type="time" class="form-control" id="time-in" value="{{ cauhinh['giovao'] }}">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-4 col-form-label">Giờ ra</label>
                    <div class="col-md-8 col-lg-8">
                      <input name="time-out" type="time" class="form-control" id="time-out" value={{ cauhinh['giora'] }}>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-4 col-form-label">Biên độ trễ</label>
                    <div class="col-md-8 col-lg-8">
                      <input name="time-late" type="number" class="form-control" id="time-late" value={{ cauhinh['biendotre'] }}>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-4 col-form-label">Điểm danh giờ vào</label>
                    <div class="col-md-2 col-lg-2">
                      <input name="check-in" type="checkbox" class="form-check-input" id="check-in" 
                      {{ "checked" if cauhinh['checkin'] == "1" else "" }}>
                    </div>
                    <label for="fullName" class="col-md-4 col-lg-4 col-form-label">Điểm danh giờ ra</label>
                    <div class="col-md-2 col-lg-2">
                      <input name="check-out" type="checkbox" class="form-check-input" id="check-out" 
                      {{ "checked" if cauhinh['checkin'] == "1" else "" }} >
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-4 col-form-label">Sử dụng máy ảnh mặc định </label>
                    <div class="col-md-2 col-lg-2">
                      <input class="form-check-input" type="radio" name="rdCamera" id="camDefault" onclick="radioClicked()"
                      value="0" {{ "checked" if cauhinh['sdcamera'] == "0" else "" }} >
                    </div>
                    <label for="fullName" class="col-md-4 col-lg-4 col-form-label">Sử dụng Camo Studio</label>
                    <div class="col-md-2 col-lg-2">
                      <input class="form-check-input" type="radio" name="rdCamera" id="camCamo" onclick="radioClicked()"
                      value="1" {{ "checked" if cauhinh['sdcamera'] == "1" else "" }}>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-4 col-form-label">Sử dụng IP Camera </label>
                    <div class="col-md-8 col-lg-8">
                      <input class="form-check-input" type="radio" name="rdCamera" id="camIP" onclick="radioClicked()"
                      value="2" {{ "checked" if cauhinh['sdcamera'] == "2" else "" }}>
                    </div>
                    <div class="col-md-12 col-lg-12">
                      <input class="form-control" type="text" name="txtCamIP" id="txtCamIP" 
                      value="{{ cauhinh['strip'] }}" >
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary" onclick="submitForm()">Lưu thay đổi</button>
                  </div>
                </form><!-- End settings Form -->

              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form>

                  <div class="row mb-3">
                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu hiện tại</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="password" type="password" class="form-control" id="currentPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu mới</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="newpassword" type="password" class="form-control" id="newPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Nhập lại mật khẩu</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                  </div>
                </form><!-- End Change Password Form -->

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>
  <script>
    function radioClicked() {
      var radios = document.getElementsByName("rdCamera");
    
      for (var i = 0; i < radios.length; i++) {
        if (radios[i].checked) {
          if(radios[i].value !== "2"){
            document.getElementById("txtCamIP").readOnly = true;
          } else {
            document.getElementById("txtCamIP").readOnly = false;
          }
        }
      }
    }
    
    function submitForm() {
      console.log("submit form ne");
      
      const form = document.getElementById("cauhinh-form");
      let _chin = "";
      let _chout = "";
      if(form.elements["check-in"].checked){
        _chin = "1";
      }
      if(form.elements["check-out"].checked){
        _chout = "1";
      }
      const data = {
        chid: form.elements["chid"].value,
        cbid: form.elements["cbid"].value,
        giovao: form.elements["time-in"].value,
        giora: form.elements["time-out"].value,
        biendotre: form.elements["time-late"].value,
        checkin: _chin,
        checkout: _chout,
        sdcamera: form.elements["rdCamera"].value,
        strip: form.elements["txtCamIP"].value,
      };
      const xhr = new XMLHttpRequest();
      xhr.open("POST", "/cau-hinh");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(JSON.stringify(data));
    }
    </script>
  <style>
    .text-label{
      text-align:end;
    }
  </style>